<!-- <div class="mapContainer">
  <div id="map"></div>
</div>

<div class="searchContainer" [ngStyle]="{'width.px': searchBarWidth}">
  <div style="border-bottom: 1px solid #ddd;">
    <SearchBar [placeholder]="'搜索自然村名...'" [maxLength]="8" ></SearchBar>
  </div>
</div> -->

<div class="mapContainer">
  <div id="map"></div>
</div>

<SegmentedControl style="top:3%;position: absolute;" [values]="['县区选择器', '乡镇选择器', '村庄选择器']" (onChange)="choose($event)"
></SegmentedControl>



<div [ngClass]="[show ? 'multi-menu-active' : '']">
 
  <Menu *ngIf="show1 && initData"
        class="multi-foo-menu"
        [data]="initData"
        [multiSelect]="true"
        (onChange)="onChange($event)"
        (onOk)="onOk($event)"
        (onCancel)="onCancel()"
        [height]="menuHeight">
  </Menu>
  <div *ngIf="show && !initData" style="width: 100% ;height: 300px; display: flex; justify-content: center; align-items: center">
    <ActivityIndicator [size]="'large'"></ActivityIndicator>
  </div>
  <div *ngIf="show" class="menu-mask3" (click)="onMaskClick()"></div>
</div>

<!-- <div [ngClass]="[show1 ? 'single-multi-menu-active' : '']">
<Menu *ngIf="show1 && initData1"
class="single-multi-foo-menu"
[data]="initData1"
[level]="1"
[value]="['1']"
[multiSelect]="true"
(onChange)="onChange1($event)"
(onOk)="onOk1($event)"
(onCancel)="onCancel1()"
[height]="menuHeight">
</Menu>
<div *ngIf="show && !initData" style="width: 100% ;height: 200px; display: flex; justify-content: center; align-items: center">
<ActivityIndicator [size]="'large'"></ActivityIndicator>
</div>
<div *ngIf="show1" class="menu-mask4" (click)="onMaskClick1()"></div>
</div> -->