/* You can add global styles to this file, and also import other style files */
@import url("//at.alicdn.com/t/font_1267652_9i68tvxjil7.css");
@import url("../node_modules/leaflet/dist/leaflet.css");

body
{
    
    font-family: 微软雅黑;
}

.circle {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: white;
    border: #fff solid 2px;
}

.city.circle
{
    background-color: red;
}

.county.circle
{
    background-color: #14AC72;
}

.town.circle
{
    border: none;
}

.circle > span
{
    text-align: center;
    display: block;
    font-family: 微软雅黑;
}
.city.circle > span
{
    width: 70px;
    font-size: 12px;
    margin-top:17px;
}

.county.circle > span
{
    width: 60px;
    font-size: 10px;
    margin-top:14px;
}

//region 定位
.mapboxgl-marker {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
}

.mapboxgl-user-location-dot {
    background-color: #1da1f2;
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.mapboxgl-user-location-dot::before {
    background-color: #1da1f2;
    content: '';
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    position: absolute;
    -webkit-animation: mapboxgl-user-location-dot-pulse 2s infinite;
    -moz-animation: mapboxgl-user-location-dot-pulse 2s infinite;
    -ms-animation: mapboxgl-user-location-dot-pulse 2s infinite;
    animation: mapboxgl-user-location-dot-pulse 2s infinite;
}

.mapboxgl-user-location-dot::after {
    border-radius: 50%;
    border: 2px solid #fff;
    content: '';
    height: 19px;
    left: -2px;
    position: absolute;
    top: -2px;
    width: 19px;
    box-sizing: border-box;
}

@-webkit-keyframes mapboxgl-user-location-dot-pulse {
    0% {
        -webkit-transform: scale(1);
        opacity: 1;
    }

    70% {
        -webkit-transform: scale(3);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

@-ms-keyframes mapboxgl-user-location-dot-pulse {
    0% {
        -ms-transform: scale(1);
        opacity: 1;
    }

    70% {
        -ms-transform: scale(3);
        opacity: 0;
    }

    100% {
        -ms-transform: scale(1);
        opacity: 0;
    }
}

@keyframes mapboxgl-user-location-dot-pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    70% {
        transform: scale(3);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.mapboxgl-user-location-dot-stale {
    background-color: #aaa;
}

.mapboxgl-user-location-dot-stale::after {
    display: none;
}

//#endregion

.qznfpopup
{
    > .leaflet-popup-content-wrapper
    {
        color: white;
        text-align: center;
        background-color: #15A4FF;

        .leaflet-popup-content {
            margin: 6px 8px;
            line-height: 1.4;
        }
    }

    > .leaflet-popup-tip-container > .leaflet-popup-tip
    {        
        background-color: #15A4FF;
    }
}

.leaflet-top {
    top: 60px;
}

.leaflet-control-location {
    border: 2px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
    border-radius: 5px;
}

.leaflet-control-location>a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: white;
    display: block;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.leaflet-control-location>a>i {
    font-size: 22px;
    font-weight: bold;
    color: #000;
}

#map {
    height: 100vh;
}

.searchContainer {
    position: absolute;
    top: 10px;
    z-index: 500;
    padding: 0 10px;
    box-sizing: border-box;
}

.am-search {
    border-bottom: 1px solid #ddd;
    border-radius: 5px;
}

.sub-title {
    color: #888;
    font-size: 14px;
    padding: 30px 0 18px 0;
}

.am-wingblank .am-wingblank-lg {
    margin-left: 15px;
    margin-right: 15px;
}

.am-wingblank {
    margin-left: 8px;
    margin-right: 8px;
}

.am-button {
    display: block;
    outline: 0 none;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    font-size: 18px;
    height: 47px;
    line-height: 47px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    white-space: nowrap;
    color: #000;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 15px 15px 15px;
}